<ion-content class="background-content">
  <ion-grid>
    <ion-row class="height-20">
      <h1>DATASILO</h1>
      <h4>BIENVENIDO</h4>
    </ion-row>
    <ion-row class="height-40">
    </ion-row>
    <ion-row class="height-10">
      <ion-button color="primary"  (click)="gotoLoginPage()">INICIAR SESIÓN</ion-button>
    </ion-row>
    <!--<ion-row align-items-center justify-content-center class="height-10">
      <button ion-button color="negro" (click)="gotoRegistroPage()">REGÍSTRATE AHORA</button>
    </ion-row>-->
  </ion-grid>
</ion-content>